<div class="main contanier-fluid">
  <div class="title-contanier">
    <hr>
    <span class="title">All Notes</span>
  </div>
  <div class="addNote" title="cerate note" (click)="addingNote();clickOutSide()">+</div>

  <div class="contanier row note-row" *ngIf="addNote || updateNote">
    <div class="form-contanier col-10 col-sm-8 col-md-7 col-lg-6" id="form-adding-note">
      <div class="line"></div>
      <form [formGroup]="note" (ngSubmit)="onSubmit(note)" class="note-form">
        <input type="text" class="note-title" placeholder="Title" formControlName="title" id="add-title" />
        <hr />
        <span class="note-date"></span>
        <textarea class="note-content" formControlName="content" placeholder="Content" id="add-content"></textarea>
        <div class="form-buttons">
          <button class="cancel" (click)="cancel()" title="cancel">✘</button>
          <!-- <button class="settings" title="settings">
            <h4>...</h4>
          </button> -->
          <button class="save" title="save" type="submit">✔</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row-contanier">
    <div class="contanier row data-row">
      <div class="note-data" *ngFor="let note of Notes | search: searchValue; let i = index"
        (mouseleave)="hideDataSettings(i)">
        <div class="data-buttons">
          <button title="Fullscreen" class="fullscreen" (click)="fullscreen(note)">
            <i class="bi bi-fullscreen"></i>
          </button>
          <!-- <button class="settings" title="settings"><h4>⋮</h4></button> -->
          <button class="data-settings" id="data-settings">
            <h4 title="settings" class="data-icon" (click)="showDataSetting(i)">
              ⋮
            </h4>
            <ul class="ul-settings">
              <li style="padding-top: 5px">
                <button (click)="updatingNote(note);clickOutSide()">Update</button>
              </li>
              <hr />
              <li>
                <button (click)="bookmark(note)">Bookmark</button>
              </li>
              <hr />
              <li>
                <button (click)="SaddFolder(note)">Add to folder</button>
              </li>
              <hr />
              <li>
                <button (click)="deleteNote(note)">Delete</button>
              </li>
              <hr />
            </ul>
          </button>
        </div>
        <div class="vertical-hr"></div>
        <span class="data-title text-truncate">{{ note["title"] }}</span>
        <div class="hr"></div>
        <span class="data-date">{{ note["updatedAt"] || note["createdAt"] }}</span>
        <span class="data-content">{{ note["content"] }}</span>
      </div>
    </div>
  </div>
  <div class="notification" *ngIf="popup">
    {{ popupmassage }}
  </div>

  <div class="row" *ngIf="Saddfolder">
    <div class="addFolder col-7 col-sm-6 col-md-4 col-lg-3">
      <button class="close-btn" (click)="HaddFolder()">
        <i class="bi bi-x-lg"></i>
      </button>
      <div class="existing-folder">
        <label>Add to existing folder</label>
        <div class="show-folders">
          <button class="select-button">
            <i class="bi bi-caret-left-fill" (click)="showFolders()" *ngIf="selectedFolder == ''"></i>
            <i class="bi bi-x-circle cancel-selected" *ngIf="selectedFolder != ''" (click)="cancelFolder()"></i>
          </button>
          <span class="folder-name">{{ hoverdFolder || selectedFolder }}</span>

          <div class="folders" id="folders">
            <span class="folder-list" *ngFor="let folder of folderList; let i = index"
              (mouseenter)="hoverdFolderF(folder)" (mouseleave)="unhoverFolder()" (click)="slecteFolder(folder)">{{
              folder }}</span>
            <span class="folder-list" *ngIf="folderList.length === 0">no folders to show</span>
          </div>
        </div>
      </div>

      <div class="new-folder">
        <label for="">or Create new folder</label>
        <input type="text" class="new-folder-name" id="new-folder-name" [(ngModel)]="newFolder" />
      </div>
      <button class="save-folder" (click)="saveFolder()">Save</button>
    </div>
  </div>

  <div class="contanier fullScreen-row row " *ngIf="fullScreen && selectedNote">
    <div class="fullScreen col-10 col-sm-8 col-md-7 col-lg-6">
      <div class="line"></div>
      <span type="text" class="note-title">{{ selectedNote['title'] }}</span>
      <hr />
      <span class="note-date">{{ selectedNote['updatedAt'] || selectedNote['createdAt'] }}</span>
      <span class="note-content">{{ selectedNote['content'] }}</span>
      <button class="cancel" (click)="cancel()" title="cancel">✘</button>

    </div>
  </div>

</div>