<div class="container-fluid ">
    <app-aside></app-aside>
    <nav class="navbar">


        <div class="hold">h</div>
        <div class="navbar-brand">
            <img class="logo" src="assets/logo.png" alt="logo">
            WebNote
        </div>

        <div id="wrap">
            <form action="" autocomplete="on">
                <input class="search-bar d-none" id="search" type="text" placeholder="What're you looking for ?">
                <button class="search-btn" type="button" (click)="sentInputValue()">
                    <img src="assets/search.png" alt="Search">
                </button>


            </form>
        </div>

    </nav>
</div>